@model IEnumerable<DeliveryManagement.Models.Package_Order>


<h6>Danh sách đơn hàng</h6>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderID)</th>
        <th>@Html.DisplayNameFor(model => model.Order.ReceiverAddress)</th>
        <th>@Html.DisplayNameFor(model => model.Order.TotalWeight)</th>
        <th>@Html.DisplayNameFor(model => model.AddTime)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.OrderID)</td>
            <td>@Html.DisplayFor(modelItem => item.Order.ReceiverAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.Order.TotalWeight)</td>
            <td>@Html.DisplayFor(modelItem => item.AddTime)</td>
            <td>
                @if (!ViewBag.IsDetails)
                {
                    <button type="button" class="btn">
                        <a href="@Url.Action("DeleteItem","PackageItems", new { packageId = item.PackageID, orderId = item.OrderID })" title="Xóa" style="color:red;">
                            <i class="fas fa-backspace"></i>
                        </a>
                    </button>
                }
            </td>
        </tr>
    }

</table>

